h5 {
    color: rgb(247, 247, 250);
    text-align: center;
    font-size: 40px;

}
header{
    background-color: blue;
    text-align: center;
}
a{
    color: rgb(230, 15, 15);
}
nav { text-align: center;

}
footer{
text-align: center;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
}